@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply
        bg-mid-blue text-white
        p-4 rounded-lg shadow-md
        hover:bg-last-blue hover:shadow-xl
        disabled:bg-light-blue disabled:shadow-none disabled:cursor-not-allowed
        transition-all;
}

.dark-btn {
    @apply
        bg-green-blue text-white
        p-4 rounded-lg shadow-md
        hover:bg-dark-blue hover:shadow-xl
        transition-all;
}

.danger-btn {
    @apply
        bg-red-600 text-white
        p-4 rounded-lg shadow-md
        hover:bg-red-800 hover:shadow-xl
        disabled:bg-red-500 disabled:shadow-none disabled:cursor-not-allowed
        transition-all;
}

label {
    @apply block;
}

.input {
    @apply p-4 bg-zinc-50 rounded-lg border-2 border-light-blue shadow-md w-full
        focus:border-mid-blue focus:shadow-xl focus:bg-white
        hover:border-mid-blue hover:shadow-xl hover:bg-white
        transition-all;
}