@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scrollbar-gutter: stable;
    overflow: auto;
}

::-webkit-scrollbar {
    @apply w-[6px] bg-content1 rounded-full;
}

::-webkit-scrollbar-thumb {
    @apply bg-content2 rounded-full;

    &:hover {
        @apply bg-content3;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}